{% load static %}
<p>Hola,</p>

<p>Recibiste este correo porque solicitaste un restablecimiento de contraseña para tu cuenta en Transvert Solutions.</p>

<p>Por favor, haz clic en el siguiente enlace para elegir una nueva contraseña:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>

<p>Si no solicitaste este restablecimiento, puedes ignorar este correo. Tu contraseña no cambiará.</p>

<p>Gracias,</p>
<p>El equipo de Transvert Solutions</p>